services:
  postgres:
    image: postgres:16.1
    container_name: graduation-postgres-db
    ports:
      - "6541:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./init-databases.sql:/docker-entrypoint-initdb.d/init-databases.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]  # Проверка дефолтной БД
      timeout: 5s
      interval: 5s
      retries: 10