server:
  port: 8080

spring:
  output:
    ansi:
      enabled: always
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: event_service_categories
          uri: lb://event-service
          predicates:
            - Path=/admin/categories/**, /categories/**

        - id: event_service_other
          uri: lb://event-service
          predicates:
            - Path=/admin/events/**, /users/*/events/**, /events/**, /admin/compilations/**, /compilations/**

        - id: stats_server_route
          uri: lb://stats-server
          predicates:
            - Path=/hit/**, /stats/**

        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

        - id: request_service_route
          uri: lb://request-service
          predicates:
            - Path=/users/*/requests/**

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: gateway