server:
  port: 8080

spring:
  output:
    ansi:
      enabled: always
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: event_service_route
          uri: lb://event-service
          predicates:
            - Path=/admin/categories/**
            - Path=/categories/**
            - Path=/admin/events/**
            - Path=/users/*/events/**
            - Path=/events/**
            - Path=/admin/compilations/**
            - Path=/compilations/**

        - id: stats_server_route
          uri: lb://stats-server
          predicates:
            - Path=/hit/**, /stats/**

        - id: user_service_route
          uri: lb://user-service
          predicates:
            - Path=/admin/users/**

        - id: request_service_route
          uri: lb://request-service
          predicates:
            - Path=/users/*/requests**

management:
  endpoint:
    gateway:
      enabled: true
  endpoints:
    web:
      exposure:
        include: gateway